.registerDiv{
    background-color: white; 
    position:relative;
    z-index: 100001;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    color: white;
    
}
.a1{
    text-decoration: none;
    color: white;
}
.registerDiv img{
    height: inherit;
    width: 50%;
}

